body {
  margin: 0;
}

.headlinestyle {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  background-color: #1c7e88;
}

.headlineheader {
  cursor: pointer;
  margin-right: auto;
  font-size: 36px;
  font-style: Garamond;
  color: white;
}

.fridge {
  padding: 10px;
}

.inventoryEntry {
  padding: 10px;
  border: 1px solid #999;
  background-color: #ccc;
  float: left;
  width: 30%;
  margin-right: 10px;
  height: 70px;
  display: flex;
  flex-direction: row;
}

.productInfo {
  display: block;
}

.productName {
  margin: 0;
}

.iconList div {
  border: 1px solid #aaa;
  float: left;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.iconList div:hover {
  background-color: #555;
  color: #fff;
}

.submitButton {
  margin-top: 20px;
  margin-left: 20px;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  padding: 30px 32px;
  font-size: 16px;
}

.img-wrap {
  margin-left: 10px;
}